@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow-x: hidden;
}

.top-menu {
    @apply flex flex-wrap justify-between items-center m-5 mt-10 gap-5 p-10;
}

.logo {
    min-width: fit-content;
    min-height: fit-content;
    @apply text-3xl select-none text-center rounded-3xl cursor-pointer;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-color: rgba(255, 255,255, 0.1);
    @apply transition duration-150 ease-in;
}

.logo:hover{
    transform: translateY(-5%);
    @apply shadow-red-500 shadow-lg;
}


.search {
    @apply relative text-slate-50 flex items-center;
    width: fit-content;
    height: fit-content;
}

.search input {
    background: none;
    outline: none;
    border: none;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-color: rgba(255, 255,255, 0.1);
    @apply pt-3 pb-3 pl-5 pr-10 rounded-2xl transition duration-150 ease-linear;
}

.search input::placeholder {
    @apply text-slate-50;
}

.search input:focus
,.search input:not(:placeholder-shown) {
    @apply shadow-gray-400 shadow-lg; 
}

.search svg {
    @apply absolute right-3 cursor-pointer transition duration-150 ease-in;
}

.search svg:hover {
    transform: scale(1.1);
}

.location {
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    background-color: rgba(0, 0,0, 0.1);
    @apply rounded-full p-2 cursor-pointer transition duration-150 ease-out; 
}

.location:hover {
    transform: translateY(-5%);
    @apply shadow-gray-400 shadow-lg;
}

.location::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: linear-gradient(45deg, transparent, rgb(76, 76, 77));
    z-index: -1;
    border-radius: inherit;
}

@keyframes border-animation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.location:hover::before {
    animation: border-animation 2s linear infinite;
}

.skeleton {
    opacity: .7;
    animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
    0% {
        background-color: hsl(200, 20%, 70%);
    }

    100% {
        background-color: hsl(200, 20%, 95%);
    }
}

main {
    min-width: fit-content;
    min-height: fit-content;
    @apply flex flex-col justify-evenly items-center m-5 p-10;
    border: 2px solid red;
}

#cityName {
    min-width: fit-content;
    @apply p-2 mb-10;
}

.current-info {
    @apply flex flex-wrap justify-evenly items-center gap-5;
    width: 100%;
    height: fit-content;
}

.current-weather {
    width: 375px;
    height: 350px;
    border: none;
    outline: none;
    background: none;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-color: rgba(255, 255,255, 0.1);
    @apply rounded-2xl p-10 text-slate-50 cursor-pointer transition duration-150 ease-in;
}

.current-weather:hover {
    @apply shadow-gray-400 shadow-lg;
    transform: translateY(-5%);
}

.other-current-info {
    width: 500px;
    height: 350px;
    border: none;
    outline: none;
    background: none;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-color: rgba(255, 255,255, 0.1);
    @apply rounded-2xl p-10 text-slate-50 cursor-pointer transition duration-150 ease-in;
}

.other-current-info:hover {
    transform: translateY(-5%);
    @apply shadow-gray-400 shadow-lg;
}